h1{
    text-align: center;
}

h2{
    text-align: center;
}

header{
    background-color: rgb(8, 49, 8);
    color: goldenrod;
    font-size: 20px;
}

footer{
    background-color: rgb(8, 49, 8);
    color: goldenrod;
    text-align: center;
    font-size: 20px;
    height: 50px;
}

main{
    background-color: rgb(81, 126, 81);
}


body{
    font-family: 'Satisfy', cursive;
}

.p1{
    color: black;
    border: black, 5px, yellow;
}
.nav{
    background-color: rgb(81, 126, 81);
    color: goldenrod;
    text-decoration: none;
    text-align: justify;
    padding: 3px;
    border-radius: 3px;
}

aside{
    text-align: center;
}

footer{
    text-align: center;
}